In [34]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [35]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\deepu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\deepu\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [36]:
df = pd.read_csv("../data/flipkart_reviews.csv")
df = df[["Review text", "Ratings"]]
df.head()

                                         Review text  Ratings
0  Nice product, good quality, but price is now r...        4
1  They didn't supplied Yonex Mavis 350. Outside ...        1
2  Worst product. Damaged shuttlecocks packed in ...        1
3  Quite O. K. , but nowadays  the quality of the...        3
4  Over pricedJust â?¹620 ..from retailer.I didn'...        1

In [37]:
df["sentiment"] = df["Ratings"].apply(lambda x: 1 if x >= 4 else 0)
df.head()

                                         Review text  Ratings  sentiment
0  Nice product, good quality, but price is now r...        4          1
1  They didn't supplied Yonex Mavis 350. Outside ...        1          0
2  Worst product. Damaged shuttlecocks packed in ...        1          0
3  Quite O. K. , but nowadays  the quality of the...        3          0
4  Over pricedJust â?¹620 ..from retailer.I didn'...        1          0

In [38]:
stop_words = set(stopwords.words("english"))
lemmatizer = WordNetLemmatizer()

def clean_text(text):
    if pd.isna(text):
        return ""
    text = text.lower()
    text = re.sub(r"[^a-z\s]", "", text)
    words = [
        lemmatizer.lemmatize(word)
        for word in text.split()
        if word not in stop_words
    ]
    return " ".join(words)

In [39]:
df["clean_review"] = df["Review text"].apply(clean_text)
df = df[df["clean_review"].str.strip() != ""]
df["clean_review"].isna().sum()

np.int64(0)

In [40]:
df.head()

,Review text,Ratings,sentiment,clean_review
0,"Nice product, good quality, but price is now r...",4,1,nice product good quality price rising bad sig...
1,They didn't supplied Yonex Mavis 350. Outside ...,1,0,didnt supplied yonex mavis outside cover yonex...
2,Worst product. Damaged shuttlecocks packed in ...,1,0,worst product damaged shuttlecock packed new b...
3,"Quite O. K. , but nowadays the quality of the...",3,0,quite k nowadays quality cork like year back u...
4,Over pricedJust â?¹620 ..from retailer.I didn'...,1,0,pricedjust retaileri didnt understand wat adva...

In [41]:
df.to_csv("../data/cleaned_reviews.csv", index=False)